<!--
User will reach this page if they
name all cities correctly
-->
<h1>You did it!</h1>
<h3>You named all 50 States!</h3>

<p>Here they are:</p>

<div>
	<% @states.each do |state| %>
		<%= "#{state.id}. #{state.name}" %><br />
	<% end %>
</div>

<div>
		<%= link_to "Take Another Quiz", welcome_home_path %>
</div>